# 전처리 Preprocessing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# korean font setting
import platform

if platform.system() == 'Darwin': # macOS
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    plt.rc('font', family='Malgun Gothic')

plt.rcParams['axes.unicode_minus'] = False

In [ ]:
df = pd.read_csv('../data/merged/신용카드VIP회원정보.csv')
df.head()

,Unnamed: 0,기준년월,발급회원번호,연령,VIP등급코드,회원여부_이용가능,회원여부_연체,탈회횟수_누적,최종탈회후경과월,탈회횟수_발급1년이내,...,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_이용유도_인터넷_B0M,컨택건수_이용유도_당사앱_B0M,증감율_이용건수_신용_전월,증감율_이용금액_신용_전월,증감율_이용건수_신용_분기,증감율_이용금액_신용_분기,변동률_잔액_B1M
0,0,201807,SYN_0,40대,7,1,0,1,61,0,...,2,13,0,0,0,0.454549,0.409767,-0.476454,-0.411320,0.261886
1,1,201807,SYN_8,20대,7,1,0,0,0,0,...,2,13,0,1,0,-0.272107,0.137583,0.464710,0.228002,-0.241684
2,2,201807,SYN_9,30대,6,1,0,0,0,0,...,2,3,1,1,0,0.291142,0.329639,-0.345280,-0.061798,0.273881
3,3,201807,SYN_17,70대이상,7,1,0,0,0,0,...,0,0,0,1,0,-0.021992,0.304045,0.057209,-0.196456,0.131636
4,4,201807,SYN_18,40대,7,1,0,0,0,0,...,0,0,0,0,0,0.000000,0.000103,-2.000000,-2.000000,0.093721

In [18]:
df.describe()
df['발급회원번호'].unique()

array(['SYN_0', 'SYN_8', 'SYN_9', ..., 'SYN_2999984', 'SYN_2999990',
       'SYN_2999996'], shape=(597592,), dtype=object)

In [ ]:
df.info() 
597,592 
3,585,552

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585552 entries, 0 to 3585551
Data columns (total 68 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   기준년월               int64
 2   발급회원번호             object
 3   연령                 object
 4   VIP등급코드            int64
 5   회원여부_이용가능          int64
 6   회원여부_연체            int64
 7   탈회횟수_누적            int64
 8   최종탈회후경과월           int64
 9   탈회횟수_발급1년이내        int64
 10  거주시도명              object
 11  유효카드수_신용           int64
 12  이용카드수_신용           int64
 13  이용금액_R3M_신용        int64
 14  _1순위카드이용금액         int64
 15  _1순위카드이용건수         int64
 16  _2순위카드이용금액         int64
 17  _2순위카드이용건수         int64
 18  Life_Stage         object
 19  CA이자율_할인전          float64
 20  강제한도감액금액_R12M      int64
 21  한도증액금액_R12M        int64
 22  연체감액여부_R3M         int64
 23  시장단기연체여부_R3M       int64
 24  최종이용일자_신판          int64
 25  이용건수_신용_B0M        int64
 26  이용금액_신용_B0M        int64
 27  이용후경과월_신용          int64
 28  이용건수_신용_R12M       int64
 29  이용금액_신용_R12M       int64
 30  이용가맹점수             int64
 31  이용금액_업종기준          int64
 32  이용금액_쇼핑            int64
 33  이용금액_요식            int64
 34  이용금액_교통            int64
 35  이용금액_의료            int64
 36  이용금액_납부            int64
 37  이용금액_교육            int64
 38  이용금액_여유생활          int64
 39  이용금액_사교활동          int64
 40  이용금액_일상생활          int64
 41  이용금액_해외            int64
 42  RP건수_B0M           int64
 43  RP금액_B0M           int64
 44  이용금액대              object
 45  포인트_잔여포인트_B0M      int64
 46  마일_잔여포인트_B0M       int64
 47  잔액_B0M_x           int64
 48  연체일수_B2M_x         int64
 49  월중평잔_x             int64
 50  평잔_3M_x            int64
 51  평잔_6M_x            int64
 52  잔액_B0M_y           int64
 53  연체일수_B2M_y         int64
 54  월중평잔_y             int64
 55  평잔_3M_y            int64
 56  평잔_6M_y            int64
 57  컨택건수_이용유도_TM_B0M   int64
 58  컨택건수_이용유도_LMS_B0M  int64
 59  컨택건수_이용유도_EM_B0M   int64
 60  컨택건수_이용유도_청구서_B0M  int64
 61  컨택건수_이용유도_인터넷_B0M  int64
 62  컨택건수_이용유도_당사앱_B0M  int64
 63  증감율_이용건수_신용_전월     float64
 64  증감율_이용금액_신용_전월     float64
 65  증감율_이용건수_신용_분기     float64
 66  증감율_이용금액_신용_분기     float64
 67  변동률_잔액_B1M         float64
dtypes: float64(6), int64(57), object(5)
memory usage: 1.8+ GB

In [6]:
df.select_dtypes('object')

              발급회원번호     연령 거주시도명  Life_Stage      이용금액대
0              SYN_0    40대    경기  5.자녀성장기(2)  01.100만원+
1              SYN_8    20대    충남    1.Single  01.100만원+
2              SYN_9    30대    경기     3.자녀출산기   04.10만원+
3             SYN_17  70대이상    경기        7.노령   02.50만원+
4             SYN_18    40대    경기  4.자녀성장기(1)     09.미사용
...              ...    ...   ...         ...        ...
3585547  SYN_2999978    40대    경기  5.자녀성장기(2)  01.100만원+
3585548  SYN_2999982    40대    서울  4.자녀성장기(1)  01.100만원+
3585549  SYN_2999984    30대    경기     3.자녀출산기  01.100만원+
3585550  SYN_2999990    30대    서울     2.가족형성기   02.50만원+
3585551  SYN_2999996    50대    대전  5.자녀성장기(2)  01.100만원+

[3585552 rows x 5 columns]

In [7]:
df.isnull().sum()

Unnamed: 0        0
기준년월              0
발급회원번호            0
연령                0
VIP등급코드           0
                 ..
증감율_이용건수_신용_전월    0
증감율_이용금액_신용_전월    0
증감율_이용건수_신용_분기    0
증감율_이용금액_신용_분기    0
변동률_잔액_B1M        0
Length: 68, dtype: int64

In [8]:
df.columns

Index(['Unnamed: 0', '기준년월', '발급회원번호', '연령', 'VIP등급코드', '회원여부_이용가능', '회원여부_연체',
       '탈회횟수_누적', '최종탈회후경과월', '탈회횟수_발급1년이내', '거주시도명', '유효카드수_신용', '이용카드수_신용',
       '이용금액_R3M_신용', '_1순위카드이용금액', '_1순위카드이용건수', '_2순위카드이용금액', '_2순위카드이용건수',
       'Life_Stage', 'CA이자율_할인전', '강제한도감액금액_R12M', '한도증액금액_R12M', '연체감액여부_R3M',
       '시장단기연체여부_R3M', '최종이용일자_신판', '이용건수_신용_B0M', '이용금액_신용_B0M', '이용후경과월_신용',
       '이용건수_신용_R12M', '이용금액_신용_R12M', '이용가맹점수', '이용금액_업종기준', '이용금액_쇼핑',
       '이용금액_요식', '이용금액_교통', '이용금액_의료', '이용금액_납부', '이용금액_교육', '이용금액_여유생활',
       '이용금액_사교활동', '이용금액_일상생활', '이용금액_해외', 'RP건수_B0M', 'RP금액_B0M', '이용금액대',
       '포인트_잔여포인트_B0M', '마일_잔여포인트_B0M', '잔액_B0M_x', '연체일수_B2M_x', '월중평잔_x',
       '평잔_3M_x', '평잔_6M_x', '잔액_B0M_y', '연체일수_B2M_y', '월중평잔_y', '평잔_3M_y',
       '평잔_6M_y', '컨택건수_이용유도_TM_B0M', '컨택건수_이용유도_LMS_B0M', '컨택건수_이용유도_EM_B0M',
       '컨택건수_이용유도_청구서_B0M', '컨택건수_이용유도_인터넷_B0M', '컨택건수_이용유도_당사앱_B0M',
       '증감율_이용건수_신용_전월', '증감율_이용금액_신용_전월', '증감율_이용건수_신용_분기', '증감율_이용금액_신용_분기',
       '변동률_잔액_B1M'],
      dtype='object')

# 전처리 (preprocessing)
- 날짜 데이터 date format 
df['기준년월']
- 이상값
df['연체일수_B2M_x']
- 연령 
- 발급회원번호
- 거주시도명 
- Life_Stage 
- 이용금액대

### '연체일수_B2M_x'

In [9]:
# '연체일수_B2M_x' -99999999

print(len(df[df['연체일수_B2M_x'] > 0])) # 21,426
print(len(df[df['연체일수_B2M_x'] < 0])) # 3,064,586
print(len(df[df['연체일수_B2M_x'] == 0])) # 499,540

df.loc[df['연체일수_B2M_x'] < 0, '연체일수_B2M_x'] = -1

print(len(df[df['연체일수_B2M_x'] < -1])) #0

21426
3064586
499540
0

### '기준년월'

In [10]:
df['기준년월'] = df['기준년월'].astype(str) 
print(type(df['기준년월'].iloc[0]))
print(df['기준년월'])

df['기준년월'] = pd.to_datetime(df['기준년월'].astype(str).str[:6], format='%Y%m')

print(df['기준년월'].dtype) 

# 옵션: 추가 날짜 (월, 년, 월년) 컬럼 만들기
# df['year'] = df['기준년월'].dt.year
# df['month'] = df['기준년월'].dt.month
# df['year_month'] = df['기준년월'].dt.to_period('M')

print(df['기준년월'])

<class 'str'>
0          201807
1          201807
2          201807
3          201807
4          201807
            ...
3585547    201812
3585548    201812
3585549    201812
3585550    201812
3585551    201812
Name: 기준년월, Length: 3585552, dtype: object
datetime64[ns]
0         2018-07-01
1         2018-07-01
2         2018-07-01
3         2018-07-01
4         2018-07-01
             ...
3585547   2018-12-01
3585548   2018-12-01
3585549   2018-12-01
3585550   2018-12-01
3585551   2018-12-01
Name: 기준년월, Length: 3585552, dtype: datetime64[ns]

### '거주시도명', '발급회원번호' (확인)

In [11]:
df['거주시도명']
print(type(df['거주시도명'].iloc[0]))


df['발급회원번호']
print(type(df['발급회원번호'].iloc[0]))

<class 'str'>
<class 'str'>

In [12]:
## age label encoding

# from sklearn.preprocessing import LabelEncoder

# encoder = LabelEncoder()
# df['연령'] = encoder.fit_transform(df['연령'])
# df.info()
# df['연령']

## exploring y data (y data 탐색하기)

In [13]:
# 이용금액_신용_R12M = 이용금액 일시불+할부+현금서비스+카드론 (최근1년간)

print(len(df[df['이용금액_신용_R12M'] == 0])) #29,111
print((len(df['이용금액_신용_R12M'].unique()))) #3,358,002
print(len(df[df['이용금액_신용_R12M'] > 0])) #3,540,722

29123
3363104
3546343

In [14]:
print(len(df[df['탈회횟수_누적'] == 0]))
print(len(df[df['탈회횟수_누적'] == 1]))
print(len(df[df['탈회횟수_누적'] == 2]))
print((df['탈회횟수_누적'].unique()))
# df['최종탈회후경과월']

2295697
1088922
200933
[1 0 2]

In [15]:
# 최종탈회후경과월 >= 12

In [16]:
print(len(df[df['탈회횟수_누적'] == 0]))
print(len(df[df['탈회횟수_누적'] == 1]))
print(len(df[df['탈회횟수_누적'] == 2]))
print((df['탈회횟수_누적'].unique()))

2295697
1088922
200933
[1 0 2]