### 1. 병합

##### 작업 방향

1. 모든 테이블은 '기준년월', '발급회원번호'를 중복?식별자로 해서 merge가 가능합니다.
2. '회원정보' 테이블은 7월에 vip였던 사람들의 추이를 볼 수 있도록 구성되어있습니다.
3. 따라서 '회원정보' 테이블을 기준으로 join(merge)하면, 7월에 vip였던 사람들의 정보를 모두 통합할 수 있을 거라 생각됩니다.
4. 컬럼 순서도 중요하긴 하니까 저의 통합하는 순서는 01(회원정보)에 02(신용정보)를 붙이고, 그 다음 03.. 마지막엔 08 붙도록 하면 될 것 같습니다.

[ 테이블 넘버링 ]

01 - 회원정보

02 - 신용정보

03 - 승인매출정보

04 - 청구정보

05 - 잔액정보

06 - 채널정보

07 - 마케팅정보

08 - 성과 정보

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 최초 버전 (메모리 이슈 발생 가능성이 있음)

# df01 = pd.read_csv('./통합데이터셋/2018_회원정보_통합.csv',encoding='utf-8')
# df02 = pd.read_csv('./통합데이터셋/2018_신용정보_통합.csv',encoding='utf-8')
# df03 = pd.read_csv('./통합데이터셋/2018_승인매출정보_통합.csv',encoding='utf-8')
# df04 = pd.read_csv('./통합데이터셋/2018_청구정보_통합.csv',encoding='utf-8')
# df05 = pd.read_csv('./통합데이터셋/2018_잔액정보_통합.csv',encoding='utf-8')
# df06 = pd.read_csv('./통합데이터셋/2018_채널정보_통합.csv',encoding='utf-8')
# df07 = pd.read_csv('./통합데이터셋/2018_마케팅정보_통합.csv',encoding='utf-8')
# df08 = pd.read_csv('./통합데이터셋/2018_성과정보_통합.csv',encoding='utf-8')

# merged_df = df01

# df_list = [df02, df03, df04, df05, df06, df07, df08]

# for df_el in df_list:
#     merged_df = pd.merge(merged_df, df_el, on=['기준년월', '발급회원번호'], how='left')

# merged_df.to_csv('./신용카드VIP회원정보.csv', encoding='utf-8')

In [3]:
# 메모리 과부하를 줄이는 방식

# import pandas as pd
# import gc

# df_final = pd.read_csv('./통합데이터셋/2018_회원정보_통합.csv', encoding='utf-8')

# paths = [
#     './통합데이터셋/2018_신용정보_통합.csv',
#     './통합데이터셋/2018_승인매출정보_통합.csv',
#     './통합데이터셋/2018_청구정보_통합.csv',
#     './통합데이터셋/2018_잔액정보_통합.csv',
#     './통합데이터셋/2018_채널정보_통합.csv',
#     './통합데이터셋/2018_마케팅정보_통합.csv',
#     './통합데이터셋/2018_성과정보_통합.csv'
# ]
# for path in paths:
#     df_el = pd.read_csv(path, encoding='utf-8')
    
#     df_final = pd.merge(df_final, df_el, on=['기준년월', '발급회원번호'], how='left')
    
#     del df_el

#     gc.collect()

# df_final.to_csv('./신용카드VIP회원정보2.csv', encoding='utf-8')

---

### 2. 만든 통합 파일(신용카드VIP회원정보.csv)의 전처리와 저장

In [4]:
# import numpy as np
# import pandas as pd

In [5]:
df = pd.read_csv('./신용카드VIP회원정보.csv', encoding = 'utf-8')

In [6]:
# 1. 제거할 컬럼 확인

# df.columns
    # '잔액_B0M_y', '연체일수_B2M_y', '월중평잔_y', '평잔_3M_y', '평잔_6M_y' 제거 후,
    # '잔액_B0M_x', '연체일수_B2M_x', '월중평잔_x', '평잔_3M_x', '평잔_6M_x' 의 각 컬럼명에서 _x를 제거
    # 'Unnamed: 0' 컬럼 제거

df.drop(columns=['잔액_B0M_y', '연체일수_B2M_y', '월중평잔_y', '평잔_3M_y', '평잔_6M_y'], inplace=True)

df.drop(columns=['Unnamed: 0'], inplace=True)

df.columns = df.columns.str.replace('_x', '')

df.columns

Index(['기준년월', '발급회원번호', '연령', 'VIP등급코드', '회원여부_이용가능', '회원여부_연체', '탈회횟수_누적',
       '최종탈회후경과월', '탈회횟수_발급1년이내', '거주시도명', '유효카드수_신용', '이용카드수_신용',
       '이용금액_R3M_신용', '_1순위카드이용금액', '_1순위카드이용건수', '_2순위카드이용금액', '_2순위카드이용건수',
       'Life_Stage', 'CA이자율_할인전', '강제한도감액금액_R12M', '한도증액금액_R12M', '연체감액여부_R3M',
       '시장단기연체여부_R3M', '최종이용일자_신판', '이용건수_신용_B0M', '이용금액_신용_B0M', '이용후경과월_신용',
       '이용건수_신용_R12M', '이용금액_신용_R12M', '이용가맹점수', '이용금액_업종기준', '이용금액_쇼핑',
       '이용금액_요식', '이용금액_교통', '이용금액_의료', '이용금액_납부', '이용금액_교육', '이용금액_여유생활',
       '이용금액_사교활동', '이용금액_일상생활', '이용금액_해외', 'RP건수_B0M', 'RP금액_B0M', '이용금액대',
       '포인트_잔여포인트_B0M', '마일_잔여포인트_B0M', '잔액_B0M', '연체일수_B2M', '월중평잔', '평잔_3M',
       '평잔_6M', '컨택건수_이용유도_TM_B0M', '컨택건수_이용유도_LMS_B0M', '컨택건수_이용유도_EM_B0M',
       '컨택건수_이용유도_청구서_B0M', '컨택건수_이용유도_인터넷_B0M', '컨택건수_이용유도_당사앱_B0M',
       '증감율_이용건수_신용_전월', '증감율_이용금액_신용_전월', '증감율_이용건수_신용_분기', '증감율_이용금액_신용_분기',
       '변동률_잔액_B1M'],
      dtype='object')

In [7]:
# 2. 나이 연령대 글자 제거하고 int 처리

df['연령'] = df['연령'].str.replace(r'\D', '', regex=True)

df['연령'] = df['연령'].astype(int)

In [ ]:
# 3-1. Life_Stage의 이상치 제거 (= 연령대와 Life_Stage 정의가 매칭이 안 되는 경우)

# 20대와 30대 조건 : Life_Stage 값이 '5.자녀성장기(2)', '6.자녀출가기', '7.노령'에 해당하면 해당 열 제거
cond_2030 = df['연령'].isin([20, 30]) & df['Life_Stage'].isin(['5.자녀성장기(2)', '6.자녀출가기', '7.노령'])

# 40대 조건 : 40대는 Life_Stage 값이 '7.노령'에 해당하면 해당 열 제거
cond_40 = (df['연령'] == 40) & (df['Life_Stage'] == '7.노령')

# 50대, 60대, 70대 조건 : '1.Single', '2.가족형성기', '3.자녀출산기', '4.자녀성장기(1)'에 해당하면 해당 열 제거
cond_506070 = df['연령'].isin([50, 60, 70]) & df['Life_Stage'].isin(['1.Single', '2.가족형성기', '3.자녀출산기', '4.자녀성장기(1)'])

# 2. 모든 삭제 조건을 하나로 결합 (OR 조건)
drop_condition = cond_2030 | cond_40 | cond_506070

# 3. 조건에 해당하지 않는(~) 정상 데이터만 추출하여 덮어쓰기 (이상치 행 제거)
df = df[~drop_condition].copy()

In [9]:
# 3-1. (실행 안 해도 전처리에 이상 없음) 제대로 삭제되었는지 확인

base = df[["발급회원번호", "연령", "Life_Stage"]].drop_duplicates()
base

cnt = base.groupby(["연령", "Life_Stage"]).size().reset_index(name="건수")
cnt

total = cnt.groupby(["연령"])["건수"].sum().reset_index(name="전체건수")
total

result = cnt.merge(total, on="연령", how="left")
result

    연령  Life_Stage      건수    전체건수
0   20    1.Single   15700   39327
1   20     2.가족형성기   23428   39327
2   20     3.자녀출산기       5   39327
3   20  4.자녀성장기(1)     194   39327
4   30    1.Single       4  173015
5   30     2.가족형성기   42466  173015
6   30     3.자녀출산기   74931  173015
7   30  4.자녀성장기(1)   55614  173015
8   40    1.Single       7  207502
9   40     2.가족형성기     364  207502
10  40     3.자녀출산기     385  207502
11  40  4.자녀성장기(1)  174057  207502
12  40  5.자녀성장기(2)   32555  207502
13  40     6.자녀출가기     134  207502
14  50  5.자녀성장기(2)  110971  127659
15  50     6.자녀출가기   16671  127659
16  50        7.노령      17  127659
17  60  5.자녀성장기(2)     109   46559
18  60     6.자녀출가기   22285   46559
19  60        7.노령   24165   46559
20  70     6.자녀출가기       1   13520
21  70        7.노령   13519   13520

In [10]:
# 3-1. (계속) 6개월 동안의 데이터 중 하나의 컬럼이라도 빈 회원은 데이터 삭제

    # 1. 발급회원번호별 데이터 개수 집계
user_counts = df['발급회원번호'].value_counts()
print(user_counts)

    # 2. 데이터가 정확히 6개인 발급회원번호만 추출
valid_users = user_counts[user_counts == 6].index

    # 3. 해당 회원번호에 속하는 데이터만 남기기
df = df[df['발급회원번호'].isin(valid_users)].copy()

발급회원번호
SYN_2999996    6
SYN_2999990    6
SYN_2999984    6
SYN_2999982    6
SYN_2999978    6
              ..
SYN_2529201    1
SYN_2878004    1
SYN_2873351    1
SYN_2770791    1
SYN_2955678    1
Name: count, Length: 597408, dtype: int64

In [11]:
# 3-2. Life_Stage 컬럼을 활용한 파생변수- '양육자녀_유무' 생성

transform = {
    '1.Single': 0, 
    '2.가족형성기': 0, 
    '3.자녀출산기': 1, 
    '4.자녀성장기(1)': 1, 
    '5.자녀성장기(2)': 1, 
    '6.자녀출가기': 0, 
    '7.노령': 0
}

# map 함수를 적용하여 새로운 컬럼 생성
df['양육자녀_유무'] = df['Life_Stage'].map(transform)

df[['기준년월','발급회원번호', 'Life_Stage','양육자녀_유무']].head(10)

     기준년월  발급회원번호  Life_Stage  양육자녀_유무
0  201807   SYN_0  5.자녀성장기(2)        1
1  201807   SYN_8    1.Single        0
2  201807   SYN_9     3.자녀출산기        1
3  201807  SYN_17        7.노령        0
4  201807  SYN_18  4.자녀성장기(1)        1
5  201807  SYN_32  4.자녀성장기(1)        1
6  201807  SYN_41  4.자녀성장기(1)        1
7  201807  SYN_60     2.가족형성기        0
8  201807  SYN_70  4.자녀성장기(1)        1
9  201807  SYN_85  4.자녀성장기(1)        1

In [12]:
# 4. 이상치, 자료형 변경

# 4-1. '연체일수_B2M_x' -99999999

print(len(df[df['연체일수_B2M'] > 0])) # 21,426
print(len(df[df['연체일수_B2M'] < 0])) # 3,064,586
print(len(df[df['연체일수_B2M'] == 0])) # 499,540

df.loc[df['연체일수_B2M'] < 0, '연체일수_B2M'] = -1

print(len(df[df['연체일수_B2M'] < -1])) #0

# # 4-2. '기준년월'

# df['기준년월'] = df['기준년월'].astype(str) 
# print(type(df['기준년월'].iloc[0]))
# print(df['기준년월'])

# df['기준년월'] = pd.to_datetime(df['기준년월'].astype(str).str[:6], format='%Y%m')

# print(df['기준년월'].dtype) 

# # 옵션: 추가 날짜 (월, 년, 월년) 컬럼 만들기
# # df['year'] = df['기준년월'].dt.year
# # df['month'] = df['기준년월'].dt.month
# # df['year_month'] = df['기준년월'].dt.to_period('M')

# print(df['기준년월'])

21208
3060527
498183
0

In [ ]:
# 0인 값은 이탈자
df["y"] = (df["이용금액_신용_R12M"] == 1).astype(int)
df

# df.drop("Unnamed: 0", axis = 1)

df.to_csv("./신용카드VIP회원정보_최종.csv", index = False, encoding="UTF-8")

In [ ]:
# df[df["y"] == 1].sum()
# df[df["y"] == 0].sum()

In [ ]:
# X = df.drop(columns=["이용금액_신용_R12M"])
# y = df["y"]