In [2]:
import pandas as pd
import numpy as np

In [67]:
data = pd.read_csv("./data/신용카드VIP회원정보.csv")
data

,Unnamed: 0,기준년월,발급회원번호,연령,VIP등급코드,회원여부_이용가능,회원여부_연체,탈회횟수_누적,최종탈회후경과월,탈회횟수_발급1년이내,...,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_이용유도_인터넷_B0M,컨택건수_이용유도_당사앱_B0M,증감율_이용건수_신용_전월,증감율_이용금액_신용_전월,증감율_이용건수_신용_분기,증감율_이용금액_신용_분기,변동률_잔액_B1M
0,0,201807,SYN_0,40대,7,1,0,1,61,0,...,2,13,0,0,0,0.454549,0.409767,-0.476454,-0.411320,0.261886
1,1,201807,SYN_8,20대,7,1,0,0,0,0,...,2,13,0,1,0,-0.272107,0.137583,0.464710,0.228002,-0.241684
2,2,201807,SYN_9,30대,6,1,0,0,0,0,...,2,3,1,1,0,0.291142,0.329639,-0.345280,-0.061798,0.273881
3,3,201807,SYN_17,70대이상,7,1,0,0,0,0,...,0,0,0,1,0,-0.021992,0.304045,0.057209,-0.196456,0.131636
4,4,201807,SYN_18,40대,7,1,0,0,0,0,...,0,0,0,0,0,0.000000,0.000103,-2.000000,-2.000000,0.093721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3585547,3585547,201812,SYN_2999978,40대,6,1,0,0,0,0,...,2,0,0,0,0,0.025192,0.239937,-0.126710,-0.222808,-0.051395
3585548,3585548,201812,SYN_2999982,40대,7,1,0,1,51,0,...,2,13,0,0,0,0.119454,0.267341,0.080545,0.002163,-0.013494
3585549,3585549,201812,SYN_2999984,30대,7,1,0,0,0,0,...,0,0,0,0,0,-0.003368,0.277482,-0.239642,-0.010877,0.013066
3585550,3585550,201812,SYN_2999990,30대,7,1,0,1,48,0,...,0,0,0,0,0,-0.108888,0.273545,0.193081,0.092169,-0.097501
3585551,3585551,201812,SYN_2999996,50대,7,1,0,0,0,0,...,0,0,0,0,0,0.103758,-0.294171,0.054749,0.039937,0.165662

In [20]:
data.to_csv("컬럼점검.csv", index=False, encoding="UTF-8")

In [40]:
data.info()
data.isnull().mean().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585552 entries, 0 to 3585551
Data columns (total 68 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   기준년월               int64
 2   발급회원번호             object
 3   연령                 object
 4   VIP등급코드            int64
 5   회원여부_이용가능          int64
 6   회원여부_연체            int64
 7   탈회횟수_누적            int64
 8   최종탈회후경과월           int64
 9   탈회횟수_발급1년이내        int64
 10  거주시도명              object
 11  유효카드수_신용           int64
 12  이용카드수_신용           int64
 13  이용금액_R3M_신용        int64
 14  _1순위카드이용금액         int64
 15  _1순위카드이용건수         int64
 16  _2순위카드이용금액         int64
 17  _2순위카드이용건수         int64
 18  Life_Stage         object
 19  CA이자율_할인전          float64
 20  강제한도감액금액_R12M      int64
 21  한도증액금액_R12M        int64
 22  연체감액여부_R3M         int64
 23  시장단기연체여부_R3M       int64
 24  최종이용일자_신판          int64
 25  이용건수_신용_B0M        int64
 26  이용금액_신용_B0M        int64
 27  이용후경과월_신용          int64
 28  이용건수_신용_R12M       int64
 29  이용금액_신용_R12M       int64
 30  이용가맹점수             int64
 31  이용금액_업종기준          int64
 32  이용금액_쇼핑            int64
 33  이용금액_요식            int64
 34  이용금액_교통            int64
 35  이용금액_의료            int64
 36  이용금액_납부            int64
 37  이용금액_교육            int64
 38  이용금액_여유생활          int64
 39  이용금액_사교활동          int64
 40  이용금액_일상생활          int64
 41  이용금액_해외            int64
 42  RP건수_B0M           int64
 43  RP금액_B0M           int64
 44  이용금액대              object
 45  포인트_잔여포인트_B0M      int64
 46  마일_잔여포인트_B0M       int64
 47  잔액_B0M_x           int64
 48  연체일수_B2M_x         int64
 49  월중평잔_x             int64
 50  평잔_3M_x            int64
 51  평잔_6M_x            int64
 52  잔액_B0M_y           int64
 53  연체일수_B2M_y         int64
 54  월중평잔_y             int64
 55  평잔_3M_y            int64
 56  평잔_6M_y            int64
 57  컨택건수_이용유도_TM_B0M   int64
 58  컨택건수_이용유도_LMS_B0M  int64
 59  컨택건수_이용유도_EM_B0M   int64
 60  컨택건수_이용유도_청구서_B0M  int64
 61  컨택건수_이용유도_인터넷_B0M  int64
 62  컨택건수_이용유도_당사앱_B0M  int64
 63  증감율_이용건수_신용_전월     float64
 64  증감율_이용금액_신용_전월     float64
 65  증감율_이용건수_신용_분기     float64
 66  증감율_이용금액_신용_분기     float64
 67  변동률_잔액_B1M         float64
dtypes: float64(6), int64(57), object(5)
memory usage: 1.8+ GB

Unnamed: 0        0.0
기준년월              0.0
발급회원번호            0.0
연령                0.0
VIP등급코드           0.0
                 ...
증감율_이용건수_신용_전월    0.0
증감율_이용금액_신용_전월    0.0
증감율_이용건수_신용_분기    0.0
증감율_이용금액_신용_분기    0.0
변동률_잔액_B1M        0.0
Length: 68, dtype: float64

## 연체일수 값 확인.

In [38]:
print(data["연체일수_B2M_x"].max())

122

## 탈회횟수 구하기.

In [5]:
out_count = data["탈회횟수_누적"]
out_count.max()

np.int64(2)

### 07월에서 -> 08로 변동이 있는지.

In [6]:
data2 = data.sort_values(["발급회원번호", "기준년월"])

result = data2[
    (data2["기준년월"].isin([201807, 201808, 201809, 201810, 201811, 201812])) &
    (data2.groupby("발급회원번호")["탈회횟수_누적"].diff().isin([1]))
]

In [ ]:
churn_7to8 = data2[
    (data2["기준년월"] == 201808) &
    (data2.groupby("발급회원번호")["탈회횟수_누적"].diff() == 1)
]

churn_7to8[["발급회원번호", "기준년월", z"탈회횟수_누적"]]

             발급회원번호    기준년월  탈회횟수_누적
797997  SYN_1006026  201808        2
799186  SYN_1011923  201808        1
617997   SYN_102817  201808        1
804358  SYN_1038564  201808        2
805763  SYN_1045706  201808        1
...             ...     ...      ...
787612   SYN_954113  201808        1
792543   SYN_978932  201808        2
793410   SYN_983183  201808        1
794705   SYN_989543  201808        1
617337    SYN_99618  201808        1

[191 rows x 3 columns]

### 변동되었는지를 판단
- 10월에 1이 변동이었으면 11 ~ 12에도 1 유지

In [14]:
# 월 기준 정렬
data2 = data.sort_values(["발급회원번호", "기준년월"])

# 전월 대비 탈회횟수 증가 여부
chg = data2.groupby("발급회원번호")["탈회횟수_누적"].diff() == 1

# 탈회 변동이 있었던 회원번호 (중복 제거)
churn_members = data2.loc[chg, "발급회원번호"].unique()

In [15]:
data.loc[
    data["발급회원번호"].isin(churn_members),
    "탈회횟수_누적"
] += 1

In [17]:
data[data["발급회원번호"].isin(churn_members)].groupby("발급회원번호")["탈회횟수_누적"].unique()

발급회원번호
SYN_1000710    [2, 1]
SYN_1001590    [3, 2]
SYN_1002504    [3, 2]
SYN_1004085    [2, 1]
SYN_1006026    [2, 3]
                ...
SYN_990272     [1, 2]
SYN_992166     [2, 1]
SYN_995288     [1, 2]
SYN_99618      [1, 2]
SYN_997058     [2, 3]
Name: 탈회횟수_누적, Length: 809, dtype: object

In [9]:
id_07 = data.loc[data["기준년월"] == 201807, "발급회원번호"].unique()
id_07

array(['SYN_0', 'SYN_8', 'SYN_9', ..., 'SYN_2999984', 'SYN_2999990',
       'SYN_2999996'], shape=(597592,), dtype=object)

In [10]:
# column이 최종탈회후경과일이고 값이 있는 것.
(data["최종탈회후경과월"] != 0).sum()

np.int64(1285466)

In [ ]:
# 탈회한 고객의 이용금액 여부 확인
탈회_이용금액 = data.loc[data["최종탈회후경과월"] != 0, "이용금액_R3M_신용"]
탈회_이용금액.to_csv("탈회인원의이용금액.csv", index=False, encoding="UTF-8")

In [39]:
탈회_이용금액

# --------------> 탈회했는데 값이 있다? => 이상함.
# ❌ 탈회 후에도 이용한 게 아님
# ⭕ 과거 3개월 누적값이 남아 있는 것

# 이 값은 무시하자.

0             19612
5            976424
8           9607906
9           5919091
10          2155833
             ...
3585543      901498
3585544     4242789
3585545     5712435
3585548    10591031
3585550     3831298
Name: 이용금액_R3M_신용, Length: 1285466, dtype: int64

In [ ]:
result = (
    data[
        (data["발급회원번호"].isin(churn_members)) &
        (data["기준년월"].between(201807, 201812))
    ][["발급회원번호", "기준년월", "이용금액_R3M_신용"]]
    .sort_values(["발급회원번호", "기준년월"])
)

result.to_csv("탈회한고객이용금액.csv", index=False, encoding="UTF-8")

# 이용금액대 전처리

In [47]:
result = (
    data[["발급회원번호", "연령", "Life_Stage"]]
    .drop_duplicates()
)

result.to_csv("LifeStage측정.csv", index=False, encoding="UTF-8")

In [66]:
base = data[["발급회원번호", "연령", "Life_Stage"]].drop_duplicates()
base

cnt = base.groupby(["연령", "Life_Stage"]).size().reset_index(name="건수")
cnt

total = cnt.groupby(["연령"])["건수"].sum().reset_index(name="전체건수")
total

result = cnt.merge(total, on="연령", how="left")
result

       연령  Life_Stage      건수    전체건수
0     20대    1.Single   15700   39418
1     20대     2.가족형성기   23428   39418
2     20대     3.자녀출산기       5   39418
3     20대  4.자녀성장기(1)     194   39418
4     20대  5.자녀성장기(2)      38   39418
5     20대     6.자녀출가기      38   39418
6     20대        7.노령      15   39418
7     30대    1.Single       4  173255
8     30대     2.가족형성기   42466  173255
9     30대     3.자녀출산기   74931  173255
10    30대  4.자녀성장기(1)   55614  173255
11    30대  5.자녀성장기(2)     128  173255
12    30대     6.자녀출가기      63  173255
13    30대        7.노령      49  173255
14    40대    1.Single       7  207567
15    40대     2.가족형성기     364  207567
16    40대     3.자녀출산기     385  207567
17    40대  4.자녀성장기(1)  174057  207567
18    40대  5.자녀성장기(2)   32555  207567
19    40대     6.자녀출가기     134  207567
20    40대        7.노령      65  207567
21    50대     2.가족형성기      17  127792
22    50대     3.자녀출산기       1  127792
23    50대  4.자녀성장기(1)     115  127792
24    50대  5.자녀성장기(2)  110971  127792
25    50대     6.자녀출가기   16671  127792
26    50대        7.노령      17  127792
27    60대    1.Single       4   46977
28    60대     2.가족형성기      82   46977
29    60대     3.자녀출산기      16   46977
30    60대  4.자녀성장기(1)     316   46977
31    60대  5.자녀성장기(2)     109   46977
32    60대     6.자녀출가기   22285   46977
33    60대        7.노령   24165   46977
34  70대이상     2.가족형성기       3   13526
35  70대이상  4.자녀성장기(1)       3   13526
36  70대이상     6.자녀출가기       1   13526
37  70대이상        7.노령   13519   13526

In [ ]:
base = data[["기준년월", "발급회원번호", "연령", "Life_Stage"]].drop_duplicates()
base

cnt = base.groupby(["기준년월", "연령", "Life_Stage"]).size().reset_index(name="건수")
cnt

total = cnt.groupby(["연령"])["건수"].sum().reset_index(name="전체건수")
total

result = cnt.merge(total, on="연령", how="left")
result.to_csv("LifeStage상세히.csv", index=False, encoding="UTF-8")

In [75]:
use = data[data["이용금액_신용_R12M"] == 0 ]
use

,Unnamed: 0,기준년월,발급회원번호,연령,VIP등급코드,회원여부_이용가능,회원여부_연체,탈회횟수_누적,최종탈회후경과월,탈회횟수_발급1년이내,...,컨택건수_이용유도_LMS_B0M,컨택건수_이용유도_EM_B0M,컨택건수_이용유도_청구서_B0M,컨택건수_이용유도_인터넷_B0M,컨택건수_이용유도_당사앱_B0M,증감율_이용건수_신용_전월,증감율_이용금액_신용_전월,증감율_이용건수_신용_분기,증감율_이용금액_신용_분기,변동률_잔액_B1M
37,37,201807,SYN_185,30대,7,1,0,0,0,0,...,3,13,1,0,0,0.0,0.000061,0.0,0.0,0.000000
147,147,201807,SYN_694,70대이상,7,1,0,0,0,0,...,0,0,0,0,0,0.0,0.000019,0.0,0.0,-0.114370
164,164,201807,SYN_754,40대,7,0,0,1,101,0,...,0,0,0,0,0,0.0,0.000029,0.0,0.0,0.000000
875,875,201807,SYN_4454,30대,7,1,0,0,0,0,...,0,0,0,0,0,0.0,0.000060,0.0,0.0,-0.060395
1365,1365,201807,SYN_7048,40대,7,1,0,1,45,0,...,3,13,0,0,0,0.0,-0.000006,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3584876,3584876,201812,SYN_2996676,20대,7,1,0,1,48,0,...,0,0,0,0,0,0.0,0.000036,0.0,0.0,0.000000
3585178,3585178,201812,SYN_2998144,40대,7,0,0,0,0,0,...,0,0,0,0,0,0.0,0.000060,0.0,0.0,0.000000
3585193,3585193,201812,SYN_2998238,40대,7,0,0,1,50,0,...,2,1,0,0,0,0.0,0.000058,0.0,0.0,0.000000
3585367,3585367,201812,SYN_2999115,50대,7,1,0,0,0,0,...,0,0,0,0,0,0.0,0.000246,0.0,0.0,0.000000
3585523,3585523,201812,SYN_2999860,60대,7,1,0,0,0,0,...,2,0,0,0,0,0.0,0.000172,0.0,0.0,0.000000